.dashboard_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dashboard_header {
    height: 100px;
    position: relative;
    align-items: center;
}

.dashboard_header .header_background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

div.header_background {
    background-color: rgba(27, 34, 44, .3);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid black;
}

.header_padding {
    padding: 0 3rem;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard_header .header_logo img {
    width: 200px;
    cursor: pointer;
}

.header_profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
}

.header_profile .profile_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.7rem;
    min-width: 100px;
    margin-right: 50px;
}

.header_profile .profile_buttons div {
    transition: .2s;
    cursor: pointer;
}

.header_profile .profile_buttons div:hover {
    transform: scale(1.2);
}

.profile_user {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 115px;
    cursor: pointer;
    transition: .2s;
}

.profile_user:hover {
    transform: scale(1.2);
}

.profile_user span {
    font-weight: 500;
}

.user_icon {
    font-size: 1.7rem;
}

/* Navigation styles */

.dashboard_content {
    display: flex;
    flex: row;
    height: 100%;
}

.dashboard_content .content_nav {
    flex: 1;
    background-color: var(--bg-black-medium);
}

.dashboard_content .content_window {
    flex: 6;
}

.content_nav {
    display: flex;
    flex-direction: column;
}

.content_nav .nav_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    background-color: var(--bg-red-medium);
    min-height: 40px;
}

.nav_header .header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    background-color: var(--bg-red-dark);
    cursor: pointer;
    transition: .2s;
}
.nav_header .header_icon:hover {
    background-color: var(--white-main);
    color: var(--bg-red-dark);
}

.nav_menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 40px;
    cursor: pointer;
    transition: .2s;
}

.nav_header.menu_store {
    background-color: #f0a500;
    cursor: pointer;
    transition: .2s;
}

.store_icon {
    background-color: #d39000 !important;
}

.nav_header.menu_store:hover, .store_icon:hover {
    color: #d39000 !important;
    background-color: var(--white-main) !important;
}

.nav_menu ul li:hover {
    background-color: var(--blue-light);
}


.nav_menu ul li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav_menu ul li .menu_icon {
    padding-left: 10px;
}

.nav_menu ul li .menu_icon p {
    font-weight: 300;
    font-size: .9rem;
    margin-left: 10px;
}

.nav_menu .menu_chevron {
    margin-right: 14px;
    font-size: .8rem;
}

/* Window styling */

.content_window {
    display: flex;
    flex-direction: column;
}

.content_window .window_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    background-color: var(--bg-red-medium);
    min-height: 40px;
    flex: 1;
}

.content_window .window_header .window_resources {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.window_resources p {
    margin-left: 15px;
}

.content_window .window_header .window_resources .resources_icon {
    font-size: 1.1rem;
}

.window_content {
    color: var(--bg-black-medium);
    flex: 22;
    overflow-y: auto;
}

.window_content .content_container {
    padding: 2rem 4rem;
    padding-bottom: 200px;
}

