/* || DASHBOARD HEADER */

.dashboard {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dashboard header div {
    height: 100px;
}

.dashboard header > img {
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    width: 100vw;
}

.dashboard header > span {
    position: absolute;
    z-index: -1;
    background-color: rgba(0 ,0 ,0 , .2);
    height: 100px;
    width: 100vw;
}

.dashboard header > div > p {
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.dashboard header > div > p:hover {
    transform: scale(1.2);
    color: var(--red-light);
}

.dashboard header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    font-size: 28px;
}

.dashboard header div ul {
    margin-left: auto;
}

.dashboard header div ul li {
    margin-left: 5px;
    cursor: pointer;
    transition: .5s;
}

.dashboard header div ul li:hover {
    transform: scale(1.2);
    color: var(--red-light);
}


.dashboard header div > div p {
    margin-left: 5px;
    font-weight: 400;
}

.dashboard header div > div p span {
    color: var(--white-medium);
    font-weight: 300;
    font-size: 15px;

}

/* || DASHBOARD MAIN STYLES */

.dashboard > main {
    display: flex;
}

.dashboard main nav {
    background-color: var(--bg-black-medium);
    width: 240px;
    height: 90vh;
}

.dashboard main header {
    background-color: var(--red-medium);
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.dashboard main header p {
    font-weight: 400 !important;
    padding-left: 5px;
}

.dashboard main nav header :nth-child(2) {
    background-color: var(--red-dark);
    color: var(--white);
    padding: 0rem .8rem;
    height: 100%;
}

.dashboard main nav ul {
    flex-direction: column;
}

.dashboard main nav ul li {
    display: flex;
    height: 35px;
    align-items: center;
    padding-left: 5px;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s;
    color: var(--white)
}

.dashboard main nav ul li .side_nav_link {
    color: var(--white);
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
}

.dashboard main nav ul li:hover {
    background-color: var(--red-medium);
}

.dashboard main nav ul li :nth-child(1) {
    width: 19px;
}

.dashboard main nav ul li :nth-child(2) {
    margin-right: auto;
    margin-left: 5px
}

.dashboard main nav ul li :nth-child(3) {
    padding: 0rem .8rem;
    height: 100%;
}

.dashboard main nav ul li p {
    font-size: 14px !important;
}

.dashboard main > main {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}

.dashboard main > main > header .icon {
    font-size: 1.3rem;
}