/* || GENERAL STYLES */
body p {
    font-size: 16px;
    font-weight: 300;
}

button {
    background-color: var(--red-light);
    color: var(--white-main);
    outline: none;
    border: none;
    border-radius: 0;
    padding: 10% 20%;
    cursor: pointer;
    transition: .5s;
}

a {
    color: lawngreen;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section ul {
    margin-top: 50px !important;
}

button:hover {
    background-color: var(--white-main);
    color: var(--red-light);
}

h1.section_header {
    color: var(--red-medium);
    background-color: var(--white-main);
    width: fit-content;
    padding: 20px !important;
    text-transform: uppercase;
    transform: skewX(-10deg);
    margin: 0 auto;
}

header > h1, .section h1 {
    font-size: 40px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    transform: skewX(-10deg);
}

header > h1 > div {
    text-transform: uppercase;
    padding: 20px !important;
    background-color: var(--red-medium);
    color: var(--white-main);
    width: fit-content;
}

.section {
    padding: var(--section-padding-tb);
}

.logo_small {
    width: 180px;
    height: 60px;
}

/* || BACKGROUND STYLES */

.bg_fixed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

/* || SECTION INTRO STYLES */

.section_intro {
    min-height: 100vh;
}

.section_intro video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.section_intro nav {
    display: flex;
    background-color: var(--bg-dark-fade);
    align-items: center;
    padding: 0px 10%;
    min-height: 70px;
    justify-content: space-between;
}

.section_intro nav ul {
    align-items: center;
}

.section_intro nav ul li {
    margin-left: 20px;
}

.section_intro nav ul li p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
}

.section_intro nav ul li span {
    color: var(--red-light);
    font-weight: 600;
}

.section_intro nav ul li.list_button {
    background-color: var(--red-light);
    height: 70px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section_intro nav ul li.list_button:last-of-type {
    background-color: lawngreen;
    margin-left: 0;
}

.section_intro > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-top: 340px;
}

.section_intro > div h1 {
    font-size: 80px;
}

.section_intro > div h2 {
    font-size: 20px;
}

.section_intro > div h3 {
    font-size: 20px;
}

.section_intro > div span {
    color: var(--red-light);
}

/* || SECTION ICONS STYLES */

.section_icons {
    background-color: var(--bg-red-medium);
}

.section_icons ul {
    margin-top: 80px;
}

.section_icons ul li {
    text-align: center;
}

.section_icons ul li img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

/* || SECTION PALY STYLES */

.section_play {
    background-color: var(--bg-red-dark);
}

.section_play ul {
    justify-content: space-between;
    margin-top: 80px;
}

.section_play ul .arrow_right {
    font-size: 90px;
    align-self: center;
}

.section_play ul li {
    text-align: center;
    border: 2px solid var(--white-main);
    padding: 2%;
    max-width: 300px;
}

.section_play ul li > * {
    margin-top: 20px !important;
}

.section_play ul li h1 {
    font-size: 28px;
}

.section_play ul li .demo_icon {
    font-size: 120px;
}

/* || SECTION INFO STYLES */

.section_info {
    background-color: var(--bg-black-medium);
    padding-left: 16%;
    padding-right: 16%;
}

.section_info header {
    display: flex;
    align-items: flex-end;
}

.section_info header > div {
    margin-left: auto;
}

.section_info header > div .controls_icon {
    margin-left: 10px;
    font-size: 30px;
    border: 2px solid var(--white-main);
    padding: .5rem .7rem;
    cursor: pointer;
    transition: .5s;
}

.section_info header > div .controls_icon:hover {
    color: var(--red-light);
    border-color: var(--red-light);
}

.section_info ul {
    justify-content: space-between;
}

.section_info > div:nth-of-type(2) {
    margin-top: 100px;
}

.section_info div header.header_right h1, .section_info div header.header_right h1 div {
    margin-left: auto;
}

/* || SECTION FOOTER STYLES */

.footer {
    background-color: var(--black);
    text-align: center;
}

.footer ul {
    margin-bottom: 60px;
}

.footer ul li {
    font-size: 40px;
}

.footer h1 {
    transform: none;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
}

.footer button {
    padding: 1rem 2rem;
    background-color: var(--black);
    font-size: 18px;
    border: 5px solid var(--white-main);
}

.footer button:first-of-type {
    margin-right: 60px;
}

.footer p {
    font-size: 12px;
    color: var(--white-dark);
    margin-top: 80px;
}