input {
    background-color: rgb(33,33,33);
    color: white;
    padding: 0 5px;
}

input:focus {
    outline: none;
    background-color: rgb(77,77,77)
}

.SettingsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.SettingsContainer header button {
    width: 120px;
    max-height: 70px;
    background-color: rgb(0,139,68);
    color: #fff;
    box-shadow: inset 2px 2px 0px rgb(39,206,64), inset -2px -2px 0px rgb(5,68,37);
    border: 1px solid #000;
    transition: .3s;
}

.SettingsContainer header button:hover {
    cursor: pointer;
    background-color: rgb(3, 185, 91);
    outline: none;
}

.Settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.Settings h3 {
    background-color: rgb(0,139,68);
    color: #fff;
    padding: 5px 0;
    font-weight: 400;
}

.SettingSkin, .SettingForum, .SettingSecurity {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-left: 2px solid rgb(33,33,33);
    text-align: center;
}

.SettingForum .AvatarChange .AvatarShowcase img {
    width: 128px;
    height: 128px;
    border-radius: 15px;
    border: 6px solid  rgb(33,33,33);
    margin: 5px;
}

.SettingForum {
    justify-content: space-between;
}

.AvatarChange div {
    display: flex;
    justify-content: space-around;
}

input[type="file"] {
    display: none;
}

.FileUpload {
    background-color: rgb(33,33,33);
    color: white;
    padding: 0px 8px;
    cursor: pointer;
    flex: 1;
    max-width: 240px;
}

.UploadInput {
    display: flex;
    flex-direction: row;
}

.InfoChange {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 8px 8px;
}

.SkinChange {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.SkinChange .SkinShowcase {
    background-color: rgb(95, 202, 252);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex: 9;
}

.SkinChange .UploadInput .FileUpload {
    min-width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0,139,68);
}

.SettingSecurity input {
    height: 34px;
}