/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

button:focus {
  outline: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  font-family: "PixelarRegularW01-Regular";
  font-size: 1.6rem;
}

@font-face {
  font-family: "PixelarRegularW01-Regular"; 
  src: url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.eot"); 
  src: url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.eot?#iefix") format("embedded-opentype"),
   url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.woff") format("woff"),
     url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.ttf") format("truetype"),
      url("//db.onlinewebfonts.com/t/b2e75c336df191233b3096682c9ee6be.svg#PixelarRegularW01-Regular") format("svg"); 
}

.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.MainLogo {
  color: #fff;
  text-align: center;
}

.MainLogo h1 {
  font-size: 6rem;
}

.MainLogo p {
  margin-top: -40px;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}  

.BoxShadow {
  box-shadow: inset 2px 2px 0px #fff, inset -2px -2px 0px #888;
  border: 1px solid #000;
}

.Container {
  width: 70vw;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgb(198,198,198);
  border-radius: 5px;
}

.Copyright {
  font-size: .9rem;
  color: white;
  margin: auto;
  align-self: flex-end;
}