/* || HOME STYLES */

.home {
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.home ul {
    overflow: visible;
    max-width: 45%;
    background-color: rgba(0, 0, 0, .1);
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 0;
}